@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');


:root {
    --arcticWhite: #f0f8ff;
    --muli: "Muli", Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: var(--muli);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    height: 100vh;
}

.container {
    display: flex;

    width: 50%;
    max-width: 750px;
}

.panel {
    position: relative;
    flex: 0.5;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 50vh;

    color: var(--arcticWhite);
    border-radius: 50px;
    cursor: pointer;
    margin: 0.5em;

    transition: flex 0.7s ease-in;
}

.panel h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;

    margin: 0;

    font-size: 1.5rem;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.6s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-child(4),
    .panel:nth-child(5) {
        display: none;
    }
}
